{
  "org": "Our-Org",
  "title": "Our-Org GitHub",
  "githubHome": "https://github.com/our-org",
  "lfsServer": "lfs-server.our-org.workers.dev",
  "bannerLight": "banner-light-small.png",
  "bannerDark": "banner-dark-small.svg"
}
